/*
	header
*/
.header {
	width: 1200px;
	margin: 0 auto;
}

.header__background {
	height: 100px;
	background-color: green;
}

/*
	navigation
*/
.navigation {
	display: flex;

}

.navigation__list {
	display: flex;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.navigation__item {
	padding: 10px;
	margin: 0;

	font-size: 24px;
}

.navigation__item:hover {
	background: yellow;
	cursor: pointer;
}

.navigation__link {
	padding: 10px;
	text-decoration: none;
	color: #000000;
}

.two-columns {
	display: flex;
	flex-direction: row;

	width: 1200px;
	margin: 0 auto;
}

.left-column {
	width: 500px;
	border-right: 3px solid black;
}

.right-column {
	width: 500px;
}

.about-us {
	margin: 0;
}

.about-us__title {
	margin: 0;
	font-size: 34px;
	text-align: center;
}

.about-us__text {
	font-size: 20px;
	text-align: center;
	margin-bottom: 60px;
}

.photos {

}

.photos__title {
	padding-bottom: 10px;
	margin: 0;
	font-size: 34px;
	text-align: center;
}

.photos__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.photos__item {
	display: flex;
	justify-content: center;

	margin-bottom: 10px;
}

.photos__item img {
	max-width: 500px;
	height: 100%;
}

.footer {
	display: flex;
	justify-content: space-around;
	width: 1000px;
	margin: 0 auto;
}

.social__title {
	text-align: center;

}

.social__list {
	display: flex;
	list-style: none;
}

.social__item {
	margin-right: 10px;
}

.social__link {
	padding: 10px;
	text-decoration: none;
	color: #000000;
}
