body {padding:0px; margin:0;background-image:url(img/head.jpg); background-size: cover;}


#wrapper {
	max-width: 960px;
	margin: auto;
	padding:20px 20px 20px 20px; 
	background:#fff;
}
#wrapperr {
	max-width: 960px;
	margin: auto;
	padding:20px 20px 20px 20px; 
	background:#fff;
	height: auto;
}
right.p{
	 width:560px; 
	 height:315px;
	  
}


h1{color:#66CC33; font-style:italic;font-family: Arial, Helvetica, sans-serif; font-weight:bold}
span.r{font-weight:bold;font-style:italic;color:#66FFCC;font-size: 13pt;}

text-align:center; padding-left: 8px; padding-right: 8px;}

a {color:#ff9c00;}
a:hover {text-decoration:none;}


#basic {width:960px; min-height:950px; margin:0 auto; background:#fff;}
p{text-align: justify, padding-left:10px; padding-right: 10px;}

right{
	width: 960px; height: 200px;
}

header {
	padding: 20px 0;

}
#top-menu {width:960px; height:74px; }
.bg-1 {max-width:950px; height:64px; background:#4682b4 url(images/m1.png) repeat-x; }
.bg-2 {max-width:940px; height:8px; background:#b3cce6; margin:0 auto;}
.bg-1 ul {margin:0; padding:0; list-style:none; display: flex; justify-content: space-around;}
.bg-1 ul li {float:left; text-align: center; background:url(images/m2.png) no-repeat right center; display: flex; height: 100%;}
.bg-1 ul li a {display:block; height: 100%; color:#c1d3e3; text-decoration:none; text-transform:uppercase; display: flex; align-items: center;}
.bg-1 ul li a:hover {color:#fff; background:#c1d3e3;}

	
aside {
	float: left;
	width: 250px;
}

aside h3{
	font-family: 'Georgia',  Serif;
	font-style: bold;
	font-style:italic;
	color: #66CDAA;
}



.menu { border-left:10px solid #c1d3e3; background:#4682b4;}
.menu ul {margin:0; padding:10px 0 0 0; list-style:none;}
.menu ul li a {display:block; width:195px; color:#c1d3e3; text-decoration:none; text-transform:uppercase; padding:10px 5px 10px 40px; }
.menu ul li a:hover {color:#fff; background:#c1d3e3;}

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

blockquote {
	margin: 0;
	background: #9db9d1;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #c1d3e3;
	font-style: italic;
	font-size: 25px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 17px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}
.right{
	text-align:center;
	display:block;
	margin:auto;
	
}

section {
	padding-bottom: 50px;text-align: justify, padding-left:10px; padding-right: 10px; }

section h2 {
	font-family: 'Georgia',  Serif;
	font-style: bold;
	font-style:italic;
	color: #66CDAA;
}
section p {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
}

figure {
	display: block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
figures {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	margin:auto;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}

span.colortext{font-style:italic;}

footer {
	margin: auto;
	background:#4682b4;
	max-width: 960px;
}

.nav-link-m {
	font-size: 1rem;
}

@media (max-width: 720px) { 
	.nav-link-m {
		font-size: 0.8rem;
	}
}

@media (max-width: 520px) { 
	.nav-link-m {
		font-size: 0.5rem;
	}
}